In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import glob

In [11]:
root = '/content/drive/MyDrive/Colab Notebooks/AF_pj/dataset/'
label = ['공주','노은동','논산','대천2동','독곶리','동문동','모총동','문창동','성성동','신방동','신흥동','아름동','예산군','읍내동','이원면','정림동','홍성읍']
label_aws = ['계룡','공주','논산','당진','대산','대천항','북격렬비도','서천','성거','세종고운','세종연서','세종전의','세천','아산','안도','양화','예산','오월도','옹도','유구','장동','정산','정안','청양','춘장대','태안','호도','총북','홍성죽도']

In [4]:
awsmap = pd.read_csv(root+'META/awsmap.csv')
pmmap = pd.read_csv(root+'META/pmmap.csv')
display(awsmap.head(3))
display(pmmap.head(3))

  Location  Latitude  Longitude                   Description
0      오월드   36.2913   127.3959  대전광역시 중구사정공원로 70 오월드 내 플라워랜드
1       세천   36.3402   127.4938            대전광역시 동구세천동 63-1
2       장동   36.4135   127.4382           대전광역시 대덕구장동 360-2

,Location,Latitude,Longitude,Description
0,아름동,36.512252,127.246789,세종특별자치시 보듬3로 114 아름동커뮤니티센터 옥상 (아름동)
1,신흥동,36.592887,127.292550,세종 조치원읍 군청로 87-16(신흥동) 세종특별자치시 조치원청사 옥상
2,노은동,36.368242,127.318498,대전 유성구 노은동로 87번길 89(노은1동 주민센터) 노은1동 주민센터 3층 옥상

In [ ]:
train_dust_fp = glob.glob(root+'TRAIN/*')
train_aws_fp = glob.glob(root+'TRAIN_AWS/*')
train_dust, train_aws = {}, {}
for fp in train_dust_fp:
    k = fp.split('/')[-1][:-4]
    train_dust[k] = pd.read_csv(fp)
    train_dust[k]['Latitude'] = pmmap.loc[pmmap['Location']==k, 'Latitude'].item()
    train_dust[k]['Longitude'] = pmmap.loc[pmmap['Location']==k, 'Longitude'].item()
for fp in train_aws_fp:
    k = fp.split('/')[-1][:-4]
    train_aws[k] = pd.read_csv(fp)
    train_aws[k]['Latitude'] = awsmap.loc[awsmap['Location']==k, 'Latitude'].item()
    train_aws[k]['Longitude'] = awsmap.loc[awsmap['Location']==k, 'Longitude'].item()
len(train_dust), len(train_aws)

In [ ]:
train_dust['공주'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   연도         35064 non-null  int64
 1   일시         35064 non-null  object
 2   측정소        35064 non-null  object
 3   PM2.5      34294 non-null  float64
 4   Latitude   1 non-null      float64
 5   Longitude  1 non-null      float64
dtypes: float64(3), int64(1), object(2)
memory usage: 1.6+ MB

In [ ]:
mydic_dust = {}
idx_dust = ['데이터 총계','pm결측값']
for k, df in train_dust.items():
    mydic_dust[k] = []
    mydic_dust[k].append(df['연도'].value_counts().sum())
    mydic_dust[k].append(df['PM2.5'].isna().sum())
    
pd.DataFrame(data=mydic_dust, index=idx_dust)

,공주,노은동,논산,대천2동,독곶리,동문동,모종동,문창동,성성동,신방동,신흥동,아름동,예산군,읍내동,이원면,정림동,홍성읍
데이터 총계,35064,35064,35064,35064,35064,35064,35064,35064,35064,35064,35064,35064,35064,35064,35064,35064,35064
pm결측값,770,924,1187,706,1031,2455,1049,636,805,172,759,798,764,882,1195,680,729

In [ ]:
train_aws['계룡'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   연도         35064 non-null  int64
 1   일시         35064 non-null  object
 2   지점         35064 non-null  object
 3   기온(°C)     34000 non-null  float64
 4   풍향(deg)    34000 non-null  float64
 5   풍속(m/s)    34000 non-null  float64
 6   강수량(mm)    34000 non-null  float64
 7   습도(%)      34000 non-null  float64
 8   Latitude   35064 non-null  float64
 9   Longitude  35064 non-null  float64
dtypes: float64(7), int64(1), object(2)
memory usage: 2.7+ MB

In [ ]:
mydic_aws = {}
idx_aws = ['데이터 총계','기온결측값','풍향결측','풍속결측','강수량결측','습도결측']
for k, df in train_aws.items():
    mydic_aws[k] = []
    mydic_aws[k].append(df['연도'].value_counts().sum())
    mydic_aws[k].append(df['기온(°C)'].isna().sum())
    mydic_aws[k].append(df['풍향(deg)'].isna().sum())
    mydic_aws[k].append(df['풍속(m/s)'].isna().sum())
    mydic_aws[k].append(df['강수량(mm)'].isna().sum())
    mydic_aws[k].append(df['습도(%)'].isna().sum())
    
pd.DataFrame(data=mydic_aws, index=idx_aws)

,계룡,공주,논산,당진,대산,대천항,북격렬비도,서천,성거,세종고운,...,유구,장동,정산,정안,청양,춘장대,태안,호도,홍북,홍성죽도
데이터 총계,35064,35064,35064,35064,35064,35064,35064,35064,35064,35064,...,35064,35064,35064,35064,35064,35064,35064,35064,35064,35064
기온결측값,1064,684,488,406,1029,455,1914,188,481,300,...,462,840,501,413,454,345,659,714,841,796
풍향결측,1064,684,488,406,1029,455,1914,188,481,300,...,462,840,501,413,454,345,659,714,841,796
풍속결측,1064,684,488,406,1029,455,1914,188,481,300,...,462,840,501,413,454,345,659,714,841,796
강수량결측,1064,684,488,406,1029,455,1914,188,481,300,...,462,840,501,413,454,345,659,714,841,796
습도결측,1064,684,488,406,1029,455,1914,188,481,300,...,462,840,501,413,454,345,659,714,841,796

In [ ]:
ex = train_dust['공주'].copy()
ex['날짜'] = ex['일시'].apply(lambda x: x.split()[0])
ex['시간'] = ex['일시'].apply(lambda x: x.split()[1])
ex.head(3)

   연도           일시 측정소  PM2.5     날짜     시간
0   0  01-01 00:00  공주  0.056  01-01  00:00
1   0  01-01 01:00  공주  0.060  01-01  01:00
2   0  01-01 02:00  공주  0.068  01-01  02:00

In [ ]:
# 모든 일시에는 날짜마다 1시간 단위로 0시부터 23시까지 존재
print((ex.groupby(['연도','날짜'])['날짜'].size()!=24).sum())

# 각 연도마다 1/1부터 12/31까지 존재하는데 3년도는 윤년인 듯
group = ex.groupby(['연도'])['날짜']
for i, mi, mx, size in zip(range(4), group.min(), group.max(), group.size()):
    print(i, mi, mx, size)
24*365, 24*365+24

0
0 01-01 12-31 8760
1 01-01 12-31 8760
2 01-01 12-31 8760
3 01-01 12-31 8784

(8760, 8784)

In [ ]:
test_dust_fp = glob.glob(root+'TEST_INPUT/*')
test_aws_fp = glob.glob(root+'TEST_AWS/*')
test_dust, test_aws = {}, {}
for fp in test_dust_fp:
    k = fp.split('/')[-1][:-4]
    test_dust[k] = pd.read_csv(fp)
    test_dust[k]['Latitude'] = pmmap.loc[pmmap['Location']==k, 'Latitude'].item()
    test_dust[k]['Longitude'] = pmmap.loc[pmmap['Location']==k, 'Longitude'].item()
for fp in test_aws_fp:
    k = fp.split('/')[-1][:-4]
    test_aws[k] = pd.read_csv(fp)
    test_aws[k]['Latitude'] = awsmap.loc[awsmap['Location']==k, 'Latitude'].item()
    test_aws[k]['Longitude'] = awsmap.loc[awsmap['Location']==k, 'Longitude'].item()
len(test_dust), len(test_aws)